<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3 {
            font-family: monospace;
            color: #c55955;
            list-style-type: none;
            padding-left: 0;
        }
    </style>
</head>
<body>
    <h3>Series</h3>
</body>
</html>

In [1]:
import numpy as np
import pandas as pd

In [15]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a': 10, 'b': 20, 'c': 30}
d1 = {'a': my_data, 'b': my_data, 'c': my_data}
# Creating a Pandas Series
print(pd.Series(data=my_data))
print(pd.Series(my_data))
print(pd.Series(data=my_data, index=labels))
print(pd.Series(my_data, labels))
print(pd.Series(arr))
print(pd.Series(arr, labels))
print(pd.Series(d))
print(pd.Series(labels))
print(pd.Series(d1))

0    10
1    20
2    30
dtype: int64
0    10
1    20
2    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64
0    10
1    20
2    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64
0    a
1    b
2    c
dtype: object
a    [10, 20, 30]
b    [10, 20, 30]
c    [10, 20, 30]
dtype: object

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3 {
            font-family: monospace;
            color: #c55955;
            list-style-type: none;
            padding-left: 0;
        }
    </style>
</head>
<body>
    <h3>Series indexing</h3>
</body>
</html>

In [11]:
ser1 = pd.Series([1, 2, 3, 4], ['USA', 'Germany', 'USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [12]:

ser2 = pd.Series([1, 2, 5, 4], ['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [13]:
ser1['USA']

np.int64(1)

In [16]:
ser3 = pd.Series(labels)
ser3

0    a
1    b
2    c
dtype: object

In [19]:
print(ser1)
print(ser2)
print(ser1 + ser2)
print(ser1 * ser2)
print(ser1 / ser2)

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64
USA        1
Germany    2
Italy      5
Japan      4
dtype: int64
Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64
Germany     4.0
Italy       NaN
Japan      16.0
USA         1.0
USSR        NaN
dtype: float64
Germany    1.0
Italy      NaN
Japan      1.0
USA        1.0
USSR       NaN
dtype: float64