<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3 {
            font-family: monospace;
            color: #c55955;
            list-style-type: none;
            padding-left: 0;
        }
        p {
            font-size: 16px;
            color: #c55955;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <h3>DataFrame part 2</h3>
    <p><strong> Manually creation</strong></p>
</body>
</html>

In [1]:
import numpy as np
import pandas as pd

In [5]:
np.random.seed(101)

In [6]:
df = pd.DataFrame(np.random.randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 18px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong> Conditional Selection</strong></p>
</body>
</html>

In [15]:
print(df)
print(df[df > 0])
print(df['W'] > 0)
print(df[df['W'] > 0])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509
A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
print(df)
print(df[df['Z'] < 0])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [17]:
df[df['W'] > 0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [ ]:
df[df['W'] > 0][['X', '']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [21]:
print(df['W'] > 0)
print(df[df['W'] > 0])
print(df[df['W'] > 0][['X', 'Y']])

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 18px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong> Multiple Conditional Selection & |</strong></p>
</body>
</html>

In [31]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print('--------------------')
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
False
False
False
--------------------
True
True
True
False

In [43]:
print(df)
print(df['W'])
print(df['W'] > 0)
print(df[df['W'] > 0])
print(df[df['W'] > 0][['X', 'Y']])
# Multiple conditional selection
print('################## and & function ###################')
print(df[(df['W'] > 0) & (df['Y'] > 0)])
print(df[(df['W'] > 0) & (df['Y'] > 1)])
print(df[(df['W'] > 0) & (df['Y'] > 2)])
print(df[(df['W'] > 0) & (df['Y'] > 3)])
print('################## or | function ###################')
print(df[(df['W'] > 0) | (df['Y'] > 0)])
print(df[(df['W'] > 0) | (df['Y'] > 1)])
print(df[(df['W'] > 0) | (df['Y'] > 2)])
print(df[(df['W'] > 0) | (df['Y'] > 3)])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967
################## and & function ###################
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509
Empty DataFrame
Columns: [W, X, Y, Z]
Index: []
################## or | function ###################
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509