<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong>multi index</strong></p>
</body>
</html>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# index levels
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = '1 2 3 1 2 3'.split()
tuples = list(zip(outside, inside))
print(tuples)
hier_index = pd.MultiIndex.from_tuples(tuples)
print(hier_index)

[('G1', '1'), ('G1', '2'), ('G1', '3'), ('G2', '1'), ('G2', '2'), ('G2', '3')]
MultiIndex([('G1', '1'),
            ('G1', '2'),
            ('G1', '3'),
            ('G2', '1'),
            ('G2', '2'),
            ('G2', '3')],
           )

In [3]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A', 'B'])
df

             A         B
G1 1  1.589231 -0.557992
   2 -0.197041  0.125061
   3 -0.173994 -0.833643
G2 1  0.384117 -0.579967
   2  0.903204  0.788019
   3  0.303749  0.829610

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong>access of different dataframe data</strong></p>
</body>
</html>

In [4]:
print(df)
print(df.loc['G1'])
print(df.loc['G1']['A'])
print(df.loc['G1']['A']['1'])
print(df.loc['G1'].loc['1'])
print(df.loc['G1'].loc['2'])

             A         B
G1 1  1.589231 -0.557992
   2 -0.197041  0.125061
   3 -0.173994 -0.833643
G2 1  0.384117 -0.579967
   2  0.903204  0.788019
   3  0.303749  0.829610
          A         B
1  1.589231 -0.557992
2 -0.197041  0.125061
3 -0.173994 -0.833643
1    1.589231
2   -0.197041
3   -0.173994
Name: A, dtype: float64
1.5892313441041173
A    1.589231
B   -0.557992
Name: 1, dtype: float64
A   -0.197041
B    0.125061
Name: 2, dtype: float64

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong>access of different dataframe data</strong></p>
</body>
</html>

In [5]:
print(df)
print(df.loc['G2'].loc['2']['B'])
print(df.loc['G1'].loc['1']['B'])
print(df.loc['G1'].loc['1'])
print(df[['A','B']])
print(df['A'])
print(df['B'])

             A         B
G1 1  1.589231 -0.557992
   2 -0.197041  0.125061
   3 -0.173994 -0.833643
G2 1  0.384117 -0.579967
   2  0.903204  0.788019
   3  0.303749  0.829610
0.7880191802193613
-0.5579923910479284
A    1.589231
B   -0.557992
Name: 1, dtype: float64
             A         B
G1 1  1.589231 -0.557992
   2 -0.197041  0.125061
   3 -0.173994 -0.833643
G2 1  0.384117 -0.579967
   2  0.903204  0.788019
   3  0.303749  0.829610
G1  1    1.589231
    2   -0.197041
    3   -0.173994
G2  1    0.384117
    2    0.903204
    3    0.303749
Name: A, dtype: float64
G1  1   -0.557992
    2    0.125061
    3   -0.833643
G2  1   -0.579967
    2    0.788019
    3    0.829610
Name: B, dtype: float64

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong>labeling empty column names</strong></p>
</body>
</html>

In [6]:
print(df)

             A         B
G1 1  1.589231 -0.557992
   2 -0.197041  0.125061
   3 -0.173994 -0.833643
G2 1  0.384117 -0.579967
   2  0.903204  0.788019
   3  0.303749  0.829610

In [7]:

print(df.index.names)
df.index.names = (['Group', 'Num'])
df

[None, None]

                  A         B
Group Num
G1    1    1.589231 -0.557992
      2   -0.197041  0.125061
      3   -0.173994 -0.833643
G2    1    0.384117 -0.579967
      2    0.903204  0.788019
      3    0.303749  0.829610

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong>xs</strong></p>
</body>
</html>

In [8]:
print(df)

                  A         B
Group Num
G1    1    1.589231 -0.557992
      2   -0.197041  0.125061
      3   -0.173994 -0.833643
G2    1    0.384117 -0.579967
      2    0.903204  0.788019
      3    0.303749  0.829610

In [9]:
print(df.loc['G1'])
print(df.xs('G1'))
print(df.xs('1', level='Num'))

            A         B
Num
1    1.589231 -0.557992
2   -0.197041  0.125061
3   -0.173994 -0.833643
            A         B
Num
1    1.589231 -0.557992
2   -0.197041  0.125061
3   -0.173994 -0.833643
              A         B
Group
G1     1.589231 -0.557992
G2     0.384117 -0.579967