<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 20px;
            color: #00FF00;
        }
        li {
            font-size: 18px;
            color: #00FF00;
        }
    </style>
</head>
<body>
    <p><strong>Data Input and Output</strong></p>
    <li><strong>CSV</strong></li>
    <li><strong>Excel</strong></li>
    <li><strong>HTML</strong></li>
    <li><strong>SQL</strong></li>   
</body>
</html>

In [2]:
import numpy as np
import pandas as pd

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 20px;
            color: #00FF00;
        }
        li {
            font-size: 16px;
            color: #00FF00;
        }
    </style>
</head>
<body>
    <p><strong>CSV input output</strong></p>
    <li><strong>df = pd.read_csv()</strong></li>
    <li><strong>df.to_csv()</strong></li>
</body>
</html>

In [3]:
# Reading CSV file
df = pd.read_csv('./example.csv')
print(df)
print(pd.read_csv('./BKash Payment Update 09.01.2022 - Bkash Cash In.csv'))

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
             Date               Client ID       Last Digit  63/64 45/20 SIM 2  \
0       15-Apr-16                     NaN   3540750/995274   4000         NaN
1       20-Apr-16                     NaN  6788120/7717446   8160         NaN
2       22-Apr-16                     NaN     88120/260632  10000         NaN
3       22-Apr-16                     NaN   906367/9261672   2240         NaN
4       01-May-16                     NaN   6906367/838231   4080         NaN
...           ...                     ...              ...    ...         ...
7974  10-Jul-2025       Send money Pourag              KWX    NaN     7064.32
7975  10-Jul-2025  Send money 01772173531          531/YHA    NaN      509.25
7976  10-Jul-2025                     NaN              NaN    NaN         NaN
7977  10-Jul-2025                     NaN              NaN    NaN         NaN
7978  10-Jul-2025                     NaN              NaN    NaN         NaN

     40 SIM 1 Expense cash out (63/62) Bkash charge (63/62) cash out (45)  \
0         NaN     980              NaN                  NaN           NaN
1         NaN     NaN              NaN                  NaN           NaN
2         NaN     NaN              NaN                  NaN           NaN
3         NaN     NaN              NaN                  NaN           NaN
4         NaN     NaN              NaN                  NaN           NaN
...       ...     ...              ...                  ...           ...
7974      NaN     NaN              NaN                  NaN           NaN
7975      NaN     NaN              NaN                  NaN           NaN
7976      NaN     NaN              NaN                  NaN           NaN
7977      NaN     NaN              NaN                  NaN           NaN
7978      NaN     NaN              NaN                  NaN           NaN

      ... Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22  \
0     ...         NaN         NaN         NaN         NaN         NaN
1     ...         NaN         NaN         NaN         NaN         NaN
2     ...         NaN         NaN         NaN         NaN         NaN
3     ...         NaN         NaN         NaN         NaN         NaN
4     ...         NaN         NaN         NaN         NaN         NaN
...   ...         ...         ...         ...         ...         ...
7974  ...         NaN         NaN         NaN         NaN         NaN
7975  ...         NaN         NaN         NaN         NaN         NaN
7976  ...         NaN         NaN         NaN         NaN         NaN
7977  ...         NaN         NaN         NaN         NaN         NaN
7978  ...         NaN         NaN         NaN         NaN         NaN

     Unnamed: 23  Unnamed: 24  Unnamed: 25 Unnamed: 26 Unnamed: 27
0            NaN          NaN          NaN         NaN         NaN
1            NaN          NaN          NaN         NaN         NaN
2            NaN          NaN          NaN         NaN         NaN
3            NaN          NaN          NaN         NaN         NaN
4            NaN          NaN          NaN         NaN         NaN
...          ...          ...          ...         ...         ...
7974         NaN          NaN          NaN         NaN         NaN
7975         NaN          NaN          NaN         NaN         NaN
7976         NaN          NaN          NaN         NaN         NaN
7977         NaN          NaN          NaN         NaN         NaN
7978         NaN          NaN          NaN         NaN         NaN

[7979 rows x 28 columns]

In [4]:
# Writing to a CSV file
print(df)
df.to_csv('csv_output.csv', index=False)
pd.read_csv('./csv_output.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 20px;
            color: #00FF00;
        }
        li {
            font-size: 16px;
            color: #00FF00;
        }
    </style>
</head>
<body>
    <p><strong>Excel input output</strong></p>
    <li><strong>df = pd.read_excel()</strong></li>
    <li><strong>df.to_excel()</strong></li>
</body>
</html>

In [5]:
df = pd.read_excel('./Excel_Sample.xlsx', sheet_name='Sheet1')
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [6]:
df.to_excel('excel_output1.xlsx', index=False, sheet_name='Sheet3')
print(pd.read_excel('./excel_output1.xlsx', sheet_name='Sheet3'))

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 20px;
            color: #00FF00;
        }
        li {
            font-size: 16px;
            color: #00FF00;
        }
    </style>
</head>
<body>
    <p><strong>Excel Writing</strong></p>
    <li><strong>pd.ExcelWriter()</strong></li>
</body>
</html>

In [7]:
with pd.ExcelWriter('excel_output2.xlsx', engine='openpyxl') as writer:
    df.to_excel(writer, index=False, sheet_name='Sheet1')
    df.to_excel(writer, index=False, sheet_name='Sheet2')

In [8]:
df = pd.read_excel('excel_output2.xlsx', sheet_name=['Sheet1', 'Sheet2'])

# Access like a dictionary
print(df)
print('\n')
print(df['Sheet1'])
print(df['Sheet2'])

{'Sheet1':    Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15, 'Sheet2':    Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15}


   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15
   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-family: monospace;
            font-size: 20px;
            color: #00FF00;
        }
    </style>
</head>
<body>
    <p><strong>HTML input output</strong></p>
</body>
</html>

In [9]:
print('Hello git updated')

Hello git updated