<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong>groupby</strong></p>
</body>
</html>

In [19]:
import numpy as np
import pandas as pd

In [30]:
dict = {
    'Company': ['GOOGLE', 'GOOGLE', 'MSFT', 'MSFT', 'FB', 'FB'],
    'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
    'Sales': [200, 120, 340, 124, 243, 350]
}
df = pd.DataFrame(dict)
print(df)
print(df.describe())

  Company   Person  Sales
0  GOOGLE      Sam    200
1  GOOGLE  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350
            Sales
count    6.000000
mean   229.500000
std    100.899455
min    120.000000
25%    143.000000
50%    221.500000
75%    315.750000
max    350.000000

In [28]:
group_com = df.groupby('Company')
print(group_com.mean(numeric_only=True))
print('\n')
print(group_com.sum(numeric_only=True))
print(group_com.sum(numeric_only=True).loc['GOOGLE'])
print('\n')
print(group_com.std(numeric_only=True))
print('\n')
print(group_com.count())
print('\n')
print(group_com.max())
print('\n')
print(group_com.min())

         Sales
Company
FB       296.5
GOOGLE   160.0
MSFT     232.0


         Sales
Company
FB         593
GOOGLE     320
MSFT       464
Sales    320
Name: GOOGLE, dtype: int64


              Sales
Company
FB        75.660426
GOOGLE    56.568542
MSFT     152.735065


         Person  Sales
Company
FB            2      2
GOOGLE        2      2
MSFT          2      2


          Person  Sales
Company
FB         Sarah    350
GOOGLE       Sam    200
MSFT     Vanessa    340


          Person  Sales
Company
FB          Carl    243
GOOGLE   Charlie    120
MSFT         Amy    124

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong>groupby describe transpose</strong></p>
</body>
</html>

In [42]:
group_com = df.groupby('Company')
print(group_com.describe())
print('\n')
print(group_com.describe().transpose())
print('\n')
print(group_com.describe().transpose()['FB'])

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOGLE    2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0


Company              FB      GOOGLE        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000


Sales  count      2.000000
       mean     296.500000
       std       75.660426
       min      243.000000
       25%      269.750000
       50%      296.500000
       75%      323.250000
       max      350.000000
Name: FB, dtype: float64