| Feature         | `concat()`                              | `merge()` (SQL-style)                                             | `join()` (index-based)                                      |
| --------------- | --------------------------------------- | ----------------------------------------------------------------- | ----------------------------------------------------------- |
| **Join Key**    | ❌ No (simply appends)                   | ✅ One or more columns (`on='ID'`)                                 | ✅ Uses index by default (`on='index'`)                      |
| **Use Case**    | Stack/append rows or columns            | Combine DataFrames using common columns                           | Combine DataFrames using their indexes                      |
| **Inner Join**  | N/A                                     | `pd.merge(df1, df2, how='inner', on='ID')` <br> Only matching IDs | `df1.join(df2, how='inner')` <br> Only matching indexes     |
| **Left Join**   | N/A                                     | `pd.merge(df1, df2, how='left', on='ID')` <br> All from left DF   | `df1.join(df2, how='left')` <br> All from `df1`             |
| **Right Join**  | N/A                                     | `pd.merge(df1, df2, how='right', on='ID')` <br> All from right DF | `df1.join(df2, how='right')` <br> All from `df2`            |
| **Outer Join**  | N/A                                     | `pd.merge(df1, df2, how='outer', on='ID')` <br> All from both     | `df1.join(df2, how='outer')` <br> All indexes from both     |
| **Axis Option** | `axis=0` (rows) <br> `axis=1` (columns) | N/A                                                               | N/A                                                         |
| **Example**     | `pd.concat([df1, df2], axis=0)`         | `pd.merge(df1, df2, on='ID', how='outer')`                        | `df1.set_index('ID').join(df2.set_index('ID'), how='left')` |

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong>joining</strong></p>
</body>
</html>

In [43]:
import numpy as np
import pandas as pd

In [44]:
left_dict = {
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}

right_dict = {
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}

left = pd.DataFrame(left_dict, index = ['K0', 'K1', 'k2'])
right = pd.DataFrame(right_dict, index = ['K0', 'K2', 'k3'])

print(left)
print(right)

     A   B
K0  A0  B0
K1  A1  B1
k2  A2  B2
     C   D
K0  C0  D0
K2  C2  D2
k3  C3  D3

In [45]:
left.join(right, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0

In [46]:
left.join(right, how='left')

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
k2  A2  B2  NaN  NaN

In [47]:
left.join(right, how='right')

      A    B   C   D
K0   A0   B0  C0  D0
K2  NaN  NaN  C2  D2
k3  NaN  NaN  C3  D3

In [48]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2  NaN  NaN   C2   D2
k2   A2   B2  NaN  NaN
k3  NaN  NaN   C3   D3